@model IList<StarWarsKb.Infrastructure.Model.ReportEntity> 
@{
    ViewBag.Title = "Ships report";
    Layout = "_Layout";
}

<h2 class="display-2">Ships report</h2>
<h4 class="display-6">Top 10 characters who are using ships with the most weight of lading</h4>
<ol class="list-group list-group-numbered">
    @foreach (var c in @Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">@c.CharacterName</div>
                <ul>
                    @foreach (var ship in c.Starships)
                    {
                        <li class="opacity-50"><b>@ship.Model</b> - @ship.Name - @ship.CargoCapacity</li>
                    }
                </ul>
            </div>
            <span class="badge bg-primary rounded-pill">@c.TotalCapacity</span>
        </li>
    }
</ol>